<div class="container">

    <h1 class="mb-3 text-info">Question Details:</h1>

    <div class="card  mb-3">
        <h5 class="card-header text-center text-danger">Are you sure you want to delete the question?</h5>
        <div class="card-body">
            <p>question: {{question.question}}</p>
            <p>answer: {{question.answer}}</p>
            <p>topic: {{question.topic}}</p>
            <p>url: {{question.url}}</p>
            <p>tags: {{question.tags}}</p>
            <p>author: {{question.author}}</p>
            <p>comment: {{question.comment}}</p>

            <form action="/delete_question?id={{question._id}}&delete=true" method="post">
                <div class="btn-toolbar justify-content-between m-2" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                        <a href="/question_details?id={{question._id}}" type="button" id="backLink" class="btn btn-primary">No</a>
                    </div>
                    <div class="btn-group mr-2 " role="group" aria-label="Second group">
                        <button  type="submit"  class="btn btn-danger">Yes Delete</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
