<div class="container">
    <h1 class="mb-3 text-info">Select a test run:</h1>
    {{#each questions}}
    <div>
        <h4 class="mt-2">
            {{topics}}:
        </h3>
    </div>
    <div>
        <a href="{{url}}" class="btn btn-outline-info">{{url}}</a>
        <a href="/questions-run?id={{_id}}" class="btn btn-outline-success">Start Testing</a>
    </div>
    {{else}}
    <p>No questions found.</p>
    {{/each}}

</div>